
div{
    width: 400px;
    height:400px;
    background: #7c7c7c;
    display:inline-block;
    margin: 10px;
    border: 1px solid #aaaaaa;
}
.amarillo{
    background: #ffd400;
    border: 1px solid #000;
}
.verde{
    background: #00dd73;
    border: 1px solid #000;
}
